/* =================================
   SOWJI
   Le chemin vers ton grand jour
   ================================= */


/* ===== BASE DU PALAIS ===== */

* {
    box-sizing: border-box;
}


body {

    margin: 0;

    min-height: 100vh;

    font-family: Georgia, "Times New Roman", serif;

    color: #f5ead0;

    text-align: center;

    background:
    radial-gradient(circle at top,
    #234b36,
    #07100b 70%);

}


/* ===== PAGE D'ACCUEIL ===== */


.accueil {

    display: flex;

    justify-content: center;

    align-items: center;

    overflow: hidden;

}



.palais {

    width: 90%;

    max-width: 500px;

    padding: 40px 20px;

}



/* ===== TITRES ===== */


h1 {

    margin: 0;

    font-size: 55px;

    color: #d4af37;

    letter-spacing: 3px;

    text-shadow:
    0 0 15px rgba(212,175,55,0.5);

}



h2 {

    color: #f5ead0;

    font-weight: normal;

    margin-top: 10px;

}



/* ===== PHRASE D'INTRODUCTION ===== */


.phrase {

    margin-top: 40px;

    font-size: 22px;

    line-height: 1.7;

    font-style: italic;

}



/* ===== BOUTONS ===== */


button {

    margin-top: 25px;

    padding: 15px 35px;

    border-radius: 40px;

    border: 1px solid #d4af37;

    background:

    rgba(0,0,0,0.25);

    color: #d4af37;

    font-size: 18px;

    font-family: Georgia, serif;

    cursor: pointer;

    transition: 0.4s;

}



button:hover {

    transform: scale(1.05);

    box-shadow:
    0 0 25px rgba(212,175,55,0.6);

}



/* ===== SCEAU ===== */


.sceau {

    margin: 25px auto;

    width: 90px;

    height: 90px;

    border-radius: 50%;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:40px;

    color:#d4af37;

    border:2px solid #d4af37;

    background:#101810;

}



input {

    width:80%;

    max-width:300px;

    padding:15px;

    border-radius:30px;

    border:none;

    text-align:center;

    font-size:18px;

    background:#f5ead0;

}



/* ===== ELEMENTS CACHÉS ===== */


.cache {

    display:none;

}



/* ===== PETITES LUEURS ===== */


.etoiles {

    position:fixed;

    inset:0;

    pointer-events:none;

    background:

    radial-gradient(circle,
    rgba(212,175,55,0.7) 1px,
    transparent 2px);

    background-size:80px 80px;

    opacity:0.35;

}
/* ===== PARCHEMIN ===== */


.parchemin {

max-width:600px;

margin:40px auto;

padding:40px 30px;

background:

linear-gradient(
#f4e6c5,
#e8d2a3
);

color:#4a351c;

border-radius:20px;

box-shadow:

0 0 40px rgba(212,175,55,0.5);

animation:ouvrirParchemin 1.5s ease;

}



.contenu-lettre {

font-size:20px;

line-height:1.8;

font-style:italic;

}



@keyframes ouvrirParchemin {

from {

transform:scaleY(0);

opacity:0;

}

to {

transform:scaleY(1);

opacity:1;

}

}



.media img,
.media video {

max-width:100%;

border-radius:15px;

margin-top:20px;

}



audio {

margin-top:20px;

}
