/*
=================================
SOWJI
Style du palais
=================================
*/


* {

box-sizing:border-box;

}



body {

margin:0;

min-height:100vh;

font-family:Georgia, "Times New Roman", serif;

color:#f5ead0;

text-align:center;

background:

radial-gradient(circle at top,#234b36,#07100b);

}



/* =========================
   PORTE DU PALAIS
========================= */


.accueil {

display:flex;

justify-content:center;

align-items:center;

}



.palais {

width:90%;

max-width:600px;

padding:50px 20px;

}



h1 {

font-size:55px;

color:#d4af37;

letter-spacing:3px;

text-shadow:

0 0 20px rgba(212,175,55,0.5);

}



h2 {

font-weight:normal;

}



.phrase {

font-size:22px;

font-style:italic;

line-height:1.7;

margin:40px 0;

}



/* Boutons */


button {

padding:15px 35px;

border-radius:40px;

border:2px solid #d4af37;

background:transparent;

color:#d4af37;

font-family:Georgia,serif;

font-size:18px;

cursor:pointer;

transition:.4s;

}



button:hover {

transform:scale(1.05);

box-shadow:

0 0 30px rgba(212,175,55,.6);

}



/* =========================
   JARDIN
========================= */


.jardin {

padding:40px 20px;

min-height:100vh;

}



.chemin {

max-width:700px;

margin:auto;

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:35px;

}



.fleur-jardin {

width:120px;

height:120px;

border-radius:50%;

background:

linear-gradient(

145deg,

#f7e8bd,

#d9b96c

);


border:3px solid #d4af37;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;

cursor:pointer;

transition:.4s;

box-shadow:

0 0 25px rgba(212,175,55,.4);

}



.fleur-jardin:hover {

transform:translateY(-10px);

}



.sceau-fleur {

font-size:45px;

color:#70451d;

}



.date-fleur {

font-size:13px;

color:#3b2814;

}



/* =========================
   PARCHEMIN
========================= */


.parchemin {

max-width:650px;

margin:50px auto;

padding:55px 35px;

background:

linear-gradient(

90deg,

#d8bc83,

#f3dfae,

#d8bc83

);


color:#4b3218;

border-radius:10px;

box-shadow:

0 0 40px rgba(212,175,55,.6);

animation:

ouvrirRouleau 1.5s ease;

}



.parchemin::before,

.parchemin::after {


content:"";

display:block;

height:30px;

background:

linear-gradient(

#7b4f22,

#c28a45,

#7b4f22

);

border-radius:20px;

margin:-70px -45px 40px;

}



.parchemin::after {

margin:

40px -45px -70px;

}



.contenu-lettre {

font-size:21px;

line-height:1.8;

font-style:italic;

}



.media img,

.media video {

max-width:90%;

border-radius:15px;

margin-top:25px;

}



@keyframes ouvrirRouleau {


from {

transform:scaleY(0);

opacity:0;

}


to {

transform:scaleY(1);

opacity:1;

}


}
